@import url("https://fonts.googleapis.com/css22?family=Raleway&dispaly=swap");
*{
    margin: 0%;
    padding: 0%;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url("C:\Users\ASUS\Downloads\weather icon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(135deg,hsl(0, 20%, 97%),hwb(198 4% 6%));
}
.loc{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #0909f9;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(14, 13, 13);     
    background: hsl(258, 64%, 73%)
}
.container{
    border-radius: 30px;
    border: 1px solid rgba(8, 8, 8, 0.38);
    background: linear-gradient(135deg,blue,rgb(253, 250, 253));
    backdrop-filter: blur(15px);
    color: hsl(0, 0%, 5%);
    padding: 2rem;
    width: 60%;
    margin: 2rem auto;
    border-radius: 30px;
    max-width: 600px;
} 
.weather__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
input{
    border: none;
    background: #1e1e1efc;
    outline: none;
    color: #86cadf;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
}
input::placeholder{
    color: hwb(60 95% 2%);
}
.weather__search{
    position: relative;
}
.weather__search i{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    color: hsl(0, 0%, 98%);
}
.weater__units{
    font-size: 2.5rem;
}
.weater__units span{
    cursor: pointer;
}
.weater__units span:first-child{
    margin-right: 0.5rem;
}
.weather__body{
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    margin-top: 5rem;

}
.weater__datetime{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 4rem;
    text-align: center;
}
.weather__forecast{
    background: hwb(0 5% 95%);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    background-color: aliceblue;
}
.weather__temperature{
    font-size: 5rem;
}
.weather__minmax{
    display: flex;
    justify-content: center;
}
.weather__minmax p{
    font-size: 14px;
    margin: 0.5rem;
}
.weather__info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap : 1rem;
    margin-top: 3rem;
}
.weather__card{
    display: flex;
    align-items: center;
    background: #f1f4f5;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid rgba(255,255,255,0.38);
    backdrop-filter: blur(15px);
    color: black;
}
.weather__card i{
    font-size: 1.5rem;
    margin-right: 1rem;
}
.weather__card p{
    font-size: 14px;
}
@media (max-width:936px){
    .container{
        width: 100%;
    }
    .weather__header{
        flex-direction: column;
        gap: 1rem ;
        flex-wrap: wrap;
    }
    .weater__units{
        margin-top: 1rem;
    }
}
@media (max-width:400px){
    .weather__info{
        grid-template-columns: none;
    }
}